<li>
	{{id}}. <i class="fas fa-hamburger"></i> {{burger_name}}
	{{#unless devoured}}
	<button class="devoured" data-id="{{id}}">Devour</button>
		id="button-addon2">DA-VOUR</button>
	{{/unless}}
</li>