body {
  background-color: #bb3649;
}
h1,
h3 {
  color: #f18059
}
.container-fluid {
  width: 95%;
}
.form-control {
  width: 60%;
  display: inline;
}
.btn-outline-orange{
color: #f18059;
border: 2px solid #f18059;
background-color: transparent;
}
.btn-outline-orange: hover {
  color: white;
  border: 2px solid #f18059;
  background-color: #f18059;
}
.btn-outline-orange: active {
  color: white;
  border: 2px solid #f69e97
  background-color: #f69e97
}
.burger {
  width: 50%;
  display: inline;
  }
@media (min-width: 992px) {
  .container-fluid {
    width: 75%;
  }
}
